datasets==3.0.2
einops
fsspec
h5py
huggingface-hub
hydra-core
omegaconf
opencv-python
pandas
peft
pillow
psutil
safetensors
scikit-learn
scipy
sentencepiece
shapely
tokenizers
torch
torchaudio
torchvision
accelerate
bitsandbytes
deepspeed
tqdm==4.67.1
transformers
wandb==0.19.11
